body #hire {
  background: white;
  margin: 200px auto 120px;
  border-top: 15px solid #313a3d;
  text-align: center;
  padding: 50px 0 110px;
  width: 80%;
  max-width: 1100px;
}
.container-contact {
    
    background-image: url(../img/bg-img.jpg); /* The image used */
   /* Used if the image is unavailable */
  height: 100%; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
body #hire h3 {
  margin-bottom: 40px;
  font-size: 2em;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}
form {
  width: 58.33333%;
  margin: 0 auto;
}
form .field {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}
form .field label {
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  background: #313a3d;
  width: 100%;
  padding: 18px 0;
  font-size: 1.45em;
  letter-spacing: 0.075em;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field label + span {
  font-family: 'SSStandard';
  opacity: 0;
  color: white;
  display: block;
  position: absolute;
  top: 12px;
  left: 2%;
  font-size: 2.5em;
  text-shadow: 1px 2px 0 #cd6302;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field input[type="text"], form .field textarea {
    border: none;
    background: #e8e9ea;
    width: 100%;
    margin: 0;
    padding: 18px 0;
    padding-left: 35.5%;
    color: #313a3d;
    font-size: 1em;
    letter-spacing: 0.04em;
    
}
form .field input[type="text"]#msg, form .field textarea#msg {
  height: 60px;
  resize: none;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field input[type="text"]:focus, form .field textarea:focus, form .field input[type="text"].focused, form .field textarea.focused {
  outline: none;
}
form .field input[type="text"]:focus#msg, form .field textarea:focus#msg, form .field input[type="text"].focused#msg, form .field textarea.focused#msg {
  padding-bottom: 150px;
}
form .field input[type="text"]:focus + label, form .field textarea:focus + label, form .field input[type="text"].focused + label, form .field textarea.focused + label {
  width: 30%;
  background: #fd9638;
  color: #313a3d;
}
form .field input[type="text"].focused + label, form .field textarea.focused + label {
  color: #fd9638;
}
form .field:hover label {
  width: 30%;
  background: #313a3d;
  color: white;
}
form input[type="submit"] {
  background: #0f84e7;
  color: white;
  -webkit-appearance: none;
  border: none;
  text-transform: uppercase;
  position: relative;
    top: 25px;
  padding: 13px 50px;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form input[type="submit"]:hover {
  background: #313a3d;
  color: #fff;
}
form input[type="submit"]:focus {
  outline: none;
  background: #cd6302;
}
body #hire {
  background: white;
  
  border-top: 15px solid #313a3d;
  text-align: center;
  padding: 50px 0 110px;
  width: 50%;
  max-width: 1100px;
    background-image:url(../img/slider-image1.png);
}
body #hire h1 {
  margin-bottom: 40px;
  font-size: 4em;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}
form {
  width: 58.33333%;
  margin: 0 auto;
}
form .field {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}
form .field label {
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  background: #313a3d;
  width: 100%;
  padding: 18px 0;
  font-size: 1.45em;
  letter-spacing: 0.075em;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field label + span {
  font-family: 'SSStandard';
  opacity: 0;
  color: white;
  display: block;
  position: absolute;
  top: 12px;
  left: 2%;
  font-size: 2.5em;
  text-shadow: 1px 2px 0 #cd6302;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field input[type="text"], form .field textarea {
    border: none;
    background: #e8e9ea;
    width: 100%;
    margin: 0;
    padding: 18px 0;
    padding-left: 35.5%;
    color: #313a3d;
    font-size: 1em;
    letter-spacing: 0.04em;
    
}
form .field input[type="text"]#msg, form .field textarea#msg {
  height: 60px;
  resize: none;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field input[type="text"]:focus, form .field textarea:focus, form .field input[type="text"].focused, form .field textarea.focused {
  outline: none;
}
form .field input[type="text"]:focus#msg, form .field textarea:focus#msg, form .field input[type="text"].focused#msg, form .field textarea.focused#msg {
  padding-bottom: 150px;
}
form .field input[type="text"]:focus + label, form .field textarea:focus + label, form .field input[type="text"].focused + label, form .field textarea.focused + label {
  width: 30%;
  background: #fd9638;
  color: #313a3d;
}
form .field input[type="text"].focused + label, form .field textarea.focused + label {
  color: #fd9638;
}
form .field:hover label {
  width: 30%;
  background: #313a3d;
  color: white;
}
form input[type="submit"] {
  background: #0f84e7;
  color: white;
  -webkit-appearance: none;
  border: none;
  text-transform: uppercase;
  position: relative;
    top: 25px;
  padding: 13px 50px;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form input[type="submit"]:hover {
  background: #313a3d;
  color: #fff;
}
form input[type="submit"]:focus {
  outline: none;
  background: #cd6302;
}

//=================================================================================
*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Flama-Light', helvetica, arial, sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 18px;
}
h1 {
  font-family: 'Flama-Bold', helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-size: 73px;
  line-height: 73px;
  letter-spacing: 1px;
  color: #9a6295;
}
.multiply {
  mix-blend-mode: multiply;
}
h1.parallax {
  padding: 0;
  margin: 0 0 0 40px;
  display: block;
  position: absolute;
  top: 190px;
  /* Large Devices, Wide Screens */
}
@media only screen and (min-width: 768px) {
  h1.parallax {
    top: 260px;
  }
}
@media only screen and (min-width: 992px) {
  h1.parallax {
    top: 350px;
  }
}
@media only screen and (min-width: 1200px) {
  h1.parallax {
    top: 400px;
  }
}
h2 {
  font-family: 'Flama-Medium', helvetica, arial, sans-serif;
  font-weight: 400;
  margin-bottom: 30px;
}
.color {
  color: #ffc627;
}
.title {
  text-align: center;
}
.centered {
  margin: 0 auto;
}
.button {
  font-family: 'Flama-Light', helvetica, arial, sans-serif;
  text-transform: uppercase;
  min-width: 150px;
  max-width: 250px;
  display: block;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.button:focus {
  outline: 0;
}
.button--border-thick {
  border: 3px solid;
}
.button--rayen {
  overflow: hidden;
  padding: 0;
  width: 230px;
}
.button--rayen::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffc627;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.button--rayen::before, .button--rayen > span {
  padding: 10px 20px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button > span {
  vertical-align: middle;
}
.button--rayen > span {
  display: block;
}
.button--rayen:hover::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.button--rayen:hover > span {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.button--white {
  color: #fff;
  border-color: #fff;
}
.teamGrid {
  font-size: 0;
  margin: 80px 0;
  padding: 0;
  list-style: none;
}
.bannerHover {
  position: relative;
  height: 200px;
  margin-bottom: 100px;
  background-color: #ffc627;
  background-image: url('https://s3-ap-southeast-2.amazonaws.com/efau/management-team/full/team-professional.jpg');
  background-size: cover;
  background-position: center center;
  /* Large Devices, Wide Screens */
}
@media only screen and (min-width: 768px) {
  .bannerHover {
    height: 300px;
  }
}
@media only screen and (min-width: 992px) {
  .bannerHover {
    height: 390px;
  }
}
@media only screen and (min-width: 1200px) {
  .bannerHover {
    height: 430px;
  }
}
.bannerHover:after {
  display: none;
  content: url('https://s3-ap-southeast-2.amazonaws.com/efau/management-team/full/team-casual.jpg');
}
.bannerHover:hover {
  background-color: #fff;
  background-image: url('https://s3-ap-southeast-2.amazonaws.com/efau/management-team/full/team-casual.jpg');
}
.bannerHover img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}
.bannerHover img.pro {
  mix-blend-mode: multiply;
}
.bannerHover img.hover {
  opacity: 0;
}
.bannerHover img:hover.hover {
  opacity: 1;
}
.teamMember {
  overflow: visible;
  display: inline-block;
  position: relative;
  width: 100%;
  /* Small Devices, Tablets */
  /* Medium Devices, Desktops */
  /*.desc{
   z-index: 1000;
   overflow: visible;
   position: absolute;
   top: 0;
   left: -moz-calc(100% - 5px);
   left: -o-calc(100% - 5px);
   left: -webkit-calc(100% - 5px);
   left: calc(100% - 5px);
   background: #fff;
   width: 100%;
   height: -moz-calc(100% - 10px);
   height: -o-calc(100% - 10px);
   height: -webkit-calc(100% - 10px);
   height: calc(100% - 10px);
   padding: 1.5em;
   border: 2px solid #ac2eff;
   }*/
}
.teamMember .desc-block {
  padding: 30px;
  display: none;
  background-color: #555;
  left: -moz-calc(100% - 0px);
  left: -o-calc(100% - 0px);
  left: -webkit-calc(100% - 0px);
  left: calc(100% - 0px);
  width: 100%;
  height: -moz-calc(100% - 0px);
  height: -o-calc(100% - 0px);
  height: -webkit-calc(100% - 0px);
  height: calc(100% - 0px);
  z-index: 10;
  position: absolute;
  border: 0px solid #ffc627;
}
.teamMember .desc-block.active {
  display: block;
}
.teamMember .desc-block .desc-content {
  color: #fff;
  font-size: 12px;
}
@media only screen and (min-width: 992px) {
  .teamMember .desc-block .desc-content {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  .teamMember .desc-block .desc-content {
    font-size: 18px;
  }
}
.teamMember .desc-block button {
  font-size: 12px;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  color: #fff;
  border-color: #fff;
}
@media only screen and (min-width: 992px) {
  .teamMember .desc-block button {
    font-size: 20px;
  }
}
.teamMember .desc-block button:before {
  background-color: #000;
}
.teamMember .desc-block:before {
  background-color: #555;
  display: block;
  position: absolute;
  left: -moz-calc(2px);
  left: -o-calc(2px);
  left: -webkit-calc(2px);
  left: calc(-30px + 4px);
  top: -moz-calc(50% - 1.5em - 2px);
  top: -o-calc(50% - 1.5em - 2px);
  top: -webkit-calc(50% - 1.5em - 2px);
  top: calc(50% - 1.5em - 2px);
  width: 50px;
  height: 50px;
  z-index: 2;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-left: 3px solid #555;
  border-top: 3px solid #555;
  content: '';
}
.teamMember:nth-child(3n) .desc-block {
  left: auto;
  right: -moz-calc(100% - 0px);
  right: -o-calc(100% - 0px);
  right: -webkit-calc(100% - 0px);
  right: calc(100% - 0px);
}
.teamMember:nth-child(3n) .desc-block:before {
  left: auto;
  right: calc(-30px + 4px);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
@media only screen and (min-width: 768px) {
  .teamMember {
    width: 33.3333%;
  }
}
@media only screen and (min-width: 992px) {
  .teamMember {
    width: 33.3333%;
  }
}
.teamMember .square {
  cursor: default;
  display: block;
  z-index: 7;
  width: 100%;
  height: 100%;
  color: #000;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
}
.teamMember .square.grey {
  background-color: #d8d8d8;
}
.teamMember .square.dark-grey {
  background-color: #555;
}
.teamMember .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.teamMember .text {
  position: absolute;
  z-index: 1;
  bottom: 25px;
  left: 0;
  right: 0;
  display: block;
  text-align: center;
}
.teamMember .text .name, .teamMember .text .role {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  color: #fff;
}
.teamMember .text .name {
  font-family: 'Flama-Bold', helvetica, arial, sans-serif;
  line-height: 26px;
}
.teamMember .text .role {
  line-height: 20px;
  font-size: 14px;
}
.teamMember a {
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: none;
  transition: none;
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 117.62918%;
  background: #000;
  overflow: hidden;
  display: block;
  z-index: 4;
}
.teamMember a:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50%;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), #000);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
}
.teamMember a:hover .image {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
