
.contact-main{
    
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 30, 20, 0.96)), to(rgba(49, 53, 61, 0.96))), url(../img/footer-bg.jpg) no-repeat scroll center center;
  background: -webkit-linear-gradient(bottom, rgba(49, 53, 61, 0.96), rgba(49, 53, 61, 0.96)), url(../slider-image1.png) no-repeat scroll center center;
  background: -o-linear-gradient(bottom, rgba(49, 53, 61, 0.96), rgba(49, 53, 61, 0.96)), url(../slider-image1.png) no-repeat scroll center center;
  background: linear-gradient(0deg,#263271, rgba(49, 53, 61, 0.96)), url(../img/slider-image1.png) no-repeat scroll center center;
  background-size: cover;

    opacity: 1;
   
}
section#support{
    margin-top: 200px;
    
}
section#support h2{
    color: #fff;
}
section#support h2:after{
    background-color: #fff;
}
section#support p{
    font-size: 1.6em;
    color: #fff;
    margin-bottom: 30px;
}
section#support input,
section#support textarea{
    min-height: 50px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 15px;
    border: 2px solid #0f84e7;
    color: #263271;
}

section#support textarea{
    min-height: 200px;
    color: #263271;
}
section#support input.btn{
    border-radius: 25px;
    padding: 5px 50px;
    font-size: 1.4em;
    color: #263271;
}
::-webkit-placeholder{
    color: #0f84e7;
}
:moz-placeholder{
    color: #0f84e7;
}
:-ms-placeholder{
    color: #0f84e7;
}

.has-success .form-control-feedback{
   
    color: #263271 !important;
    
}
.has-error .form-control-feedback{
    
    color: red !important;
    
}

.form-horizontal .has-feedback .form-control-feedback{
    top: 8px !important;
    right: 22px !important;
    font-size: .9em;
}

.has-error .help-block {
    color: #fff !important;
    
}